mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.profileButton {
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  min-width: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    color: black;
  }
}

.fullName {
  font-weight: 600;
}

.left-align {
  display: flex;
  align-items: center;
}
