<div class="inner-container">
  <div class="app-header">
    <div class="left">
      <h1>Invoice Stornos</h1>
    </div>
    <div class="right">
      <!-- <button
        mat-raised-button
        color="primary"
        (click)="openNewInvoiceProformaDialog()"
      >
        <mat-icon>add</mat-icon>
        <span>New Invoice Storno</span>
      </button> -->
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="deleteSelected()">
          <mat-icon color="warn">delete</mat-icon>
          <span>Delete selected</span>
        </button>
      </mat-menu>

      <button mat-stroked-button [matMenuTriggerFor]="menu">
        <mat-icon color="primary">more_vert</mat-icon>
      </button>
    </div>
  </div>

  <mat-form-field appearance="outline" class="search-container">
    <mat-label>Search</mat-label>
    <input
      matInput
      #searchInput
      (keyup)="applyFilter($event)"
      placeholder="Search"
    />
    <button
      mat-icon-button
      *ngIf="searchInput.value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="clearSearch(searchInput)"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef class="select-column">
        <mat-checkbox
          color="primary"
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" class="select-column">
        <mat-checkbox
          color="primary"
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Document Number Column -->
    <ng-container matColumnDef="documentNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Document Number</th>
      <td mat-cell *matCellDef="let record">{{ record.documentNumber }}</td>
    </ng-container>

    <!-- Client Name Column -->
    <ng-container matColumnDef="clientName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Client Name</th>
      <td mat-cell *matCellDef="let record">{{ record.clientName }}</td>
    </ng-container>

    <!-- Issue Date Column -->
    <ng-container matColumnDef="issueDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Issue Date</th>
      <td mat-cell *matCellDef="let record">
        {{ record.issueDate | date : "mediumDate" }}
      </td>
    </ng-container>

    <!-- Due Date Column -->
    <ng-container matColumnDef="dueDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Due Date</th>
      <td mat-cell *matCellDef="let record">
        {{ record.dueDate | date : "mediumDate" }}
      </td>
    </ng-container>

    <!-- Total Value Column -->
    <ng-container matColumnDef="totalValue">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Value</th>
      <td mat-cell *matCellDef="let record">{{ record.totalValue }} RON</td>
    </ng-container>

    <!-- Document Status Column -->
    <ng-container matColumnDef="documentStatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let record">
        <mat-chip> {{ record.documentStatus?.status }}</mat-chip>
      </td>
    </ng-container>

    <!-- Table Rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      class="clickable"
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="openEditInvoiceStornoDialog(row)"
    ></tr>
  </table>

  <mat-paginator
    class="mat-elevation-z2"
    [pageSizeOptions]="[10, 20, 30]"
    showFirstLastButtons
  ></mat-paginator>
</div>
