<mat-progress-bar mode="query" *ngIf="!firms"></mat-progress-bar>
<div class="inner-container">
  <div class="app-header">
    <div class="left">
      <h1>Clients</h1>
    </div>
    <div class="right">
      <button mat-raised-button color="primary" (click)="openNewClientDialog()">
        <mat-icon class="icon-right-margin">add</mat-icon>
        <span>New client</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="deleteSelected()">
          <mat-icon color="warn">delete</mat-icon>
          <span>Delete selected</span>
        </button>
      </mat-menu>

      <button mat-stroked-button [matMenuTriggerFor]="menu">
        <mat-icon color="primary">more_vert</mat-icon>
      </button>
    </div>
  </div>

  <mat-form-field appearance="outline" class="search-container">
    <mat-label>Search</mat-label>
    <input
      matInput
      #searchInput
      (keyup)="applyFilter($event)"
      placeholder="Search"
    />
    <button
      mat-icon-button
      *ngIf="searchInput.value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="clearSearch(searchInput)"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z2"
  >
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef class="select-column">
        <mat-checkbox
          color="primary"
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" class="select-column">
        <mat-checkbox
          color="primary"
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by name"
      >
        Name
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- CUI Column -->
    <ng-container matColumnDef="cui">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by CUI"
      >
        CUI
      </th>
      <td mat-cell *matCellDef="let element">{{ element.cui }}</td>
    </ng-container>

    <!-- RegCom Column -->
    <ng-container matColumnDef="regCom">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by regCom"
      >
        RegCom
      </th>
      <td mat-cell *matCellDef="let element">{{ element.regCom }}</td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by address"
      >
        Address
      </th>
      <td mat-cell *matCellDef="let element">{{ element.address }}</td>
    </ng-container>

    <!-- County Column -->
    <ng-container matColumnDef="county">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by county"
      >
        County
      </th>
      <td mat-cell *matCellDef="let element">{{ element.county }}</td>
    </ng-container>

    <!-- City Column -->
    <ng-container matColumnDef="city">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by city"
      >
        City
      </th>
      <td mat-cell *matCellDef="let element">{{ element.city }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="openEditClientDialog(row)"
    ></tr>
  </table>

  <mat-paginator
    class="mat-elevation-z2"
    [pageSizeOptions]="[10, 20, 30]"
    showFirstLastButtons
  ></mat-paginator>
</div>
