<mat-progress-bar mode="query" *ngIf="!documentSeriesList"></mat-progress-bar>
<div class="inner-container">
  <div class="app-header">
    <div class="left">
      <h1>Document Series</h1>
    </div>
    <div class="right">
      <button
        mat-raised-button
        color="primary"
        (click)="openNewDocumentSeriesDialog()"
      >
        <mat-icon class="icon-right-margin">add</mat-icon>
        <span>New Series</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="deleteSelected()">
          <mat-icon color="warn">delete</mat-icon>
          <span>Delete selected</span>
        </button>
      </mat-menu>

      <button mat-stroked-button [matMenuTriggerFor]="menu">
        <mat-icon color="primary">more_vert</mat-icon>
      </button>
    </div>
  </div>

  <mat-form-field appearance="outline" class="search-container">
    <mat-label>Search</mat-label>
    <input
      matInput
      #searchInput
      (keyup)="applyFilter($event)"
      placeholder="Search"
    />
    <button
      mat-icon-button
      *ngIf="searchInput.value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="clearSearch(searchInput)"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z2"
  >
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef class="select-column">
        <mat-checkbox
          color="primary"
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" class="select-column">
        <mat-checkbox
          color="primary"
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Document Type Column -->
    <ng-container matColumnDef="documentType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Document Type</th>
      <td mat-cell *matCellDef="let row">{{ row.documentType.name }}</td>
    </ng-container>

    <!-- Series Name Column -->
    <ng-container matColumnDef="seriesName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Series Name</th>
      <td mat-cell *matCellDef="let row">{{ row.seriesName }}</td>
    </ng-container>

    <!-- First Number Column -->
    <ng-container matColumnDef="firstNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>First Number</th>
      <td mat-cell *matCellDef="let row">{{ row.firstNumber }}</td>
    </ng-container>

    <!-- Current Number Column -->
    <ng-container matColumnDef="currentNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Current Number</th>
      <td mat-cell *matCellDef="let row">{{ row.currentNumber }}</td>
    </ng-container>

    <!-- Is Default Column -->
    <ng-container matColumnDef="isDefault">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Default</th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox [checked]="row.isDefault" disabled></mat-checkbox>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="openEditDocumentSeriesDialog(row)"
    ></tr>
  </table>

  <mat-paginator
    class="mat-elevation-z2"
    [pageSizeOptions]="[10, 20, 30]"
    showFirstLastButtons
  ></mat-paginator>
</div>
