mat-sidenav {
  padding: 20px;
  width: 300px;
  height: 100%;
}

mat-sidenav-container {
  height: 100%;
}

.example-container {
  background-color: #f0f0f0; /* Light gray background */
}

mat-tree-node:hover {
  cursor: pointer;
  background-color: #f1f5f9;
  border-radius: 5px;
}

.active-link {
  background-color: #f1f5f9;
  border-radius: 5px;
  font-weight: bold;
}

